

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    min-height: 100%;
    background-color: rgb(26,28,40);
}
p{
    color: aliceblue;
    margin: 0px;
}
.page{

    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    min-height: 100%;
}
.header{
    background-color: rgb(17,19,30);
    width: 100%;
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.logo  span{
    color: aliceblue;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}




.admin-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 100px;
}

header .button {
    background-color: #146C94;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.event .button {
    background-color: #146C94; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 40px;
    height: 100%;
    width: 100%;
}
/*main--------------------------------------------------------*/
.event-list-con{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.event-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 1000px;
    height: 300px;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(43,45,61);
    cursor: pointer;
    /*box-shadow: 0px 2px 5px 1px rgba(43,45,61,1);*/
}

.event-card img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    /*border-right: 1px solid rgb(43,45,61);*/
}

.event-details {
    margin: 20px;
    height: auto;
    max-width: 650px;
    display: flex;
    flex-direction: column;
}

.event-title {
    color: rgba(255 255 255);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-meta {
    color: #777;
    margin-bottom: 10px;
}

.event-description {
    line-height: 1.6;
    overflow: hidden;
    height: 100%;
}

.event-place {
    color: #777;
    margin-bottom: 10px;
}


/*модальное окно*/
.modalContainer{
    display: flex;
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}
.modalContent{
    display: grid;
    position: relative;
    max-width: 450px;
    padding: 30px 20px;
    z-index: 1;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0px 0px 29px 10px rgba(0, 0, 0, 0.2);
}

.modalContainer.open{
    visibility: visible;
    opacity: 1;
}
.closeModal{
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    color: gray;
}

/*footer--------------------------------------------------------*/
footer .logo{
    margin-left: 0;
}
.logo-con{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto 100px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 99;
    width: 100%;
    height: 200px;
    margin-top: auto;
    background-color: rgb(17,19,30);
}
.info-con{
    display: flex;
    flex-direction: row;
    float: right;
    margin: 48px 100px;
    gap: 20px;
    font-size: 16px;
}
.info-con a{
    color: rgb(108, 109, 116);;
}

/*Other ---------------------------------*/
/* Для полосы прокрутки */
::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */

  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(17,19,30); /* Цвет фона полосы прокрутки */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(43,45,61); /* Цвет полосы прокрутки */
    border-radius: 4px; /* Скругление углов полосы прокрутки */
  }
  
  /* Для полосы прокрутки при наведении курсора */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(53, 53, 64);
  }
  
  /* Для полосы прокрутки при активации (нажатии) */
  ::-webkit-scrollbar-thumb:active {
    background-color: rgb(31, 31, 56);
  }
  







